<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Name>Transportation Event Utilities</Name>
    <AddInID>{dade26b5-a0a2-41c4-8cea-a954e6e5b44t}</AddInID>
    <Description>ArcGIS Desktop Utilities for Management of Transportation Construction Events</Description>
    <Version>0.1</Version>
    <Image>Images\Greenfield_32.png</Image>
    <Author>Alberto Nieto</Author>
    <Company>Esri</Company>
    <Date>10/22/2017</Date>
    <Targets>
        <Target name="Desktop" version="10.5" />
    </Targets>
    <AddIn language="PYTHON" library="TxEvtUtils_addin.py" namespace="TxEvtUtils_addin">
        <ArcMap>
            <Commands>

                <Tool
                    caption="Transportation Event Utility"
                    category="TxEvent"
                    class="CreateRoutingEvent"
                    id="TxEvtUtils_addin.CreateEvent"
                    image="Images\StreetView_16x16.png"
                    message="Click on the Map to create a transportation event."
                    tip="Create Transportation Event">
                    <Help heading="" />
                </Tool>

            </Commands>

            <Extensions>
            </Extensions>

            <Toolbars>
                <Toolbar
                        caption="TxEvtUtils"
                        category="TxEvtUtils"
                        id="TxEvtUtils_addin.TxEvtCreate"
                        showInitially="true">
                    <Items>

                        <Tool refID="TxEvtUtils_addin.CreateEvent" />
                        
                    </Items>
                </Toolbar>
            </Toolbars>

            <Menus>
            </Menus>

        </ArcMap>
    </AddIn>
</ESRI.Configuration>